.avatar {
	position: relative;
	padding-top:40px;
        padding-right:-10px;
	display: block;
	margin-bottom: 1.5em;
}
.avatar img {
	display: block;
	margin: 0 auto;
	border-radius: 100%;
	box-shadow: 0 0 0 1em #ffffff;
	background: #ffffff;
	width: 50%;
	height: 50%;
}
.avatar:before {
	content: '';
	display: block;
	position: absolute;
	top: 50%;
	left: -3em;
	width: calc(100% + 6em);
	height: 1px;
	z-index: -1;
}
.navbar-brand {
  font-weight: 900;
  font-size: 1.85em;
  padding: 10px;
  margin-left: 15px !important;
  @media screen and (max-width: $on-palm) {
    font-size: 1.5em;
  }
}
.nav-link {
  font-size: 1.85em;
  padding: 10px;
  margin-left: 15px !important;	
  font-family: 'Sedgwick Ave Display', cursive;
  color: #fff;	
  @media screen and (max-width: $on-palm) {
    font-size: 1.5em;
  }	
}
