<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href={{"/home/" | relative_url}} ><span class="avatar"><img src={{"/assets/img/logo.png" | relative_url}} alt="" /></span></a>
</nav>
<input type="checkbox" id="overlay-input" />
<label for="overlay-input" id="overlay-button"><span></span></label>
  <div id="overlay">
    <ul>
    {% for item in site.data.settings.nav %}
    <li><a href="{{ item.url | relative_url }}" {% if page.title == item.name %} {% endif %} >{{ item.name }}</a></li>
    {% endfor %}      
    </ul>
  </div>
