<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href={{"/home/" | relative_url}} ><span class="avatar"><img src="https://mattd.ml/images/logo.svg" alt="" /></span></a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto"> 
      <li class="nav-item">
        <a class="nav-link" href={{"/home/" | relative_url}} >Home</a>
      </li>      
      <li class="nav-item">
        <a class="nav-link" href={{"/about/" | relative_url}} >About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href={{"/news/" | relative_url}} >News</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href={{"/contact/" | relative_url}} >Contact</a>
      </li>       
    </ul>
  </div>
</nav>
<input type="checkbox" id="overlay-input" />
<label for="overlay-input" id="overlay-button"><span></span></label>
  <div id="overlay">
    <ul>
    {% for item in site.data.settings.nav %}
    <li><a href="{{ item.url | relative_url }}" {% if page.title == item.name %} {% endif %} >{{ item.name }}</a></li>
    {% endfor %}      
    </ul>
  </div>
