---
---
@charset "utf-8";
@import 'vendor/normalize';
@import 'base/root';

@import 'nav/theme';
@import 'main/theme';
@import 'footer/theme';

@import "dark-poole/dp-variables";
@import "dark-poole/dp-base";
@import "dark-poole/dp-type";
@import "dark-poole/dp-syntax";
@import "dark-poole/dp-code";
@import "dark-poole/dp-posts";
@import "dark-poole/dp-pagination";
@import "dark-poole/dp-message";
@import "dark-poole/dp-toc";

// Sass for creating the swatches
.colors {
  display: grid;
  grid-template-columns: max-content 1fr;

  dt {
    width: 3rem;
    height: 3rem;
    border-radius: var(--border-radius);
    box-shadow: inset 0 0 0 1px rgba(255,255,255,.15);
  }

  dd {
    margin-left: var(--spacer);
  }
}
