html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: #87cc77;
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  font-family: arial;
  width: 100vw;
  height: 100vh;
  animation: bugfix infinite 1s;
  -webkit-animation: bugfix infinite 1s;
}

.archives {
  list-style: none;
  padding-left: 0;
  border: 2px solid #dfe2e5;
}

.archives-title {
  text-align: center;
  border-radius: 1rem;
  background-color: var(--gray-300);
}

.archive-item {
  padding: .25rem .5rem;
  border-bottom: 1px solid #dfe2e5;
}

.archive-date {
  float: left;
  width: 4rem;
  
  @media (min-width: 38rem) {
    float: right;
    width: auto;
  }
}


