section {
  justify-content: center;
  padding: 2rem 1rem;
  display: flex;
  margin: 0;
  min-height: 100%;
  box-sizing: border-box;
}

:root {
  --line-height: 3.125rem;
  --title-height: var(--line-height);
  --children: 1;
}

/* MAIN FUNCTIONALITY */

article {
  --max-height: calc(var(--title-height) + (var(--children) * var(--line-height)));
  max-height: var(--max-height);
  transition: max-height .2s ease-in-out;
}

input:not(:checked) + article {
  max-height: var(--line-height);
}

input:not(:checked) + article h1 label[for="acc0toggle"] {
  pointer-events: none;
}

article h1 {
  position: relative;
}

article h1 label:first-child:after {
  justify-content: center;
  margin-left: auto;
  display: flex;
  content: "+";
  width: 1rem;
}

input:checked + article h1 label:first-child:after {
  content: "-";
}

article h1 label:last-child {
  background: transparent;
  color: transparent;
  position: absolute;
  opacity: 0;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  overflow: hidden;
  justify-content: flex-end;
  white-space: nowrap;
}



#accordion {
  box-shadow: .25rem .25rem .75rem rgba(0,0,0,.5);
  font-family: sans-serif;
  background: #fff;
  width: 30rem;
}

article h1 {
  margin: 0 -1rem;
}

h1 > label {
  box-sizing: border-box;
  padding: .5rem 1rem;
  align-items: center;
  background: darkslategray;
  display: flex;
  height: var(--line-height);
  cursor: pointer;
  font-weight: normal;
  color: #fff;
  box-shadow: 0 -.0625rem 0 0 rgba(0,0,0,.15) inset;
}

h1 > label:focus {
  outline: 1px dashed cyan;
}

article {
  overflow: hidden;
  padding: 0 1rem;
}
