html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: hsl(200, 3%, 12%);
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  font-family: arial;
  width: 100vw;
  height: 100vh;
  animation: bugfix infinite 1s;
  -webkit-animation: bugfix infinite 1s;
}


// Layout
//
// Styles for managing the structural hierarchy of the site.

.container {
  max-width: 38rem;
  min-height: calc(100vh - 9rem);  // fixed footer
  margin: 0 auto;  // Center horizontally
}

.footer {
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  min-height: 4rem; 
  
  & a {
    color: #fff;
    padding: .8rem;
    text-decoration: none;
    border-radius: 50%;
    
    &:hover {
      color: #fff;
      text-decoration: line-through;
    }
  }
}

// back top button
.top{
  display: none;
  cursor: pointer;
  padding: .5rem;
  bottom: 2rem; 
  right: 1rem; 
  position: fixed; 
  z-index: 99; 
  
  border-radius: 50%;
  background-color: var(--gray-400);
  
  @media (min-width: 60rem) {
    bottom: 1rem;
    right: calc(50vw - 23rem);
  }
}

.theme {
  text-align: center;
  font-size: .8rem;
  min-height: 4rem;
}
