html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: hsl(200, 3%, 12%);
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  font-family: arial;
  width: 100vw;
  height: 100vh;
  animation: bugfix infinite 1s;
  -webkit-animation: bugfix infinite 1s;
}


// Layout
//
// Styles for managing the structural hierarchy of the site.

.container {
  max-width: 38rem;
  min-height: calc(100vh - 9rem);  // fixed footer
  margin: 0 auto;  // Center horizontally
}

.footer {
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  min-height: 4rem; 
} 


// back top button
.top{
  display: none;
  cursor: pointer;
  padding: .5rem;
  bottom: 2rem; 
  right: 1rem; 
  position: fixed; 
  z-index: 99; 
  
  border-radius: 50%;
  background-color: var(--gray-400);
  
  @media (min-width: 60rem) {
    bottom: 1rem;
    right: calc(50vw - 23rem);
  }
}

.theme {
  text-align: center;
  font-size: .8rem;
  min-height: 4rem;
}




@-webkit-keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

.ticker-wrap {
  
  position: fixed;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  height: 4rem;
  background-color: rgba(#000, 0.9); 
  padding-left: 100%;
  box-sizing: content-box;

  .ticker {

    display: inline-block;
    height: 4rem;
    line-height: 4rem;  
    white-space: nowrap;
    padding-right: 100%;
    box-sizing: content-box;

    -webkit-animation-iteration-count: infinite; 
            animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
   -webkit-animation-name: ticker;
           animation-name: ticker;
    -webkit-animation-duration: $duration;
            animation-duration: $duration;

    &__item {

      display: inline-block;

      padding: 0 2rem;
      font-size: 2rem;
      color: white;   

    }

  }

}
