<!DOCTYPE html>
<html lang="{{ site.lang | default: page.lang | default: 'en' }}">

  {% include landing-head.html %}

  <body>

    <main class="main" aria-label="Content">
	<section class="showcase">
			<div class="video-container">
				<video src="https://traversymedia.com/downloads/video.mov" autoplay muted loop></video>
			</div>
			<div class="content">
				<h1>Shoot For The Stars</h1>
				<h3>Full screen video landing page</h3>
				<a href="https://mattd.ml/home/" class="btn">ENTER</a>
			</div>
		</section>
    </main>

  </body>

</html>
